@font-face {
	  font-family: "iconvault";
	  src: url("/fonts/iconvault_forecastfont.eot");
	  src: url("/fonts/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
	       url("/fonts/iconvault_forecastfont.woff") format("woff"),
	       url("/fonts/iconvault_forecastfont.ttf") format("truetype"),
	       url("/fonts/iconvault_forecastfont.svg#iconvault") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}
