.idle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    background-color: black;
    background-size: cover;
    background-position-x: center;
    
    opacity: 0;
    transition: 5s;
    
    .idle-time {
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 5em;
        opacity: 0.5;
    }
}

.home-idle>.idle {
    opacity: 1;
}